.heroContainer {
  background-image: linear-gradient(
      /* rgba(60, 151, 106, 0.5),
      rgba(121, 69, 219, 0.788) */
      rgba(60, 151, 106, 0.3),
      rgba(121, 69, 219, 0.488)
    ),
    url("../../resources/2.jpeg");
    /* url("https://images.unsplash.com/photo-1541800298525-46ec4a4e5c5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXNpYW4lMjBjb3VwbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* border: 1px solid yellow; */
}
.heroCaption {
  /* border: 1px solid red; */
  /* text-align: center; */
  color: white;
  position: absolute;
  top: 25px;
  left: 15px;
}
