.CardContainer {
  min-width: 75vw;
  height: 250px;
  margin-top: 1.5rem;
  padding: 0 1rem;
  position: relative;
  display: flex;
}

.CardIMG {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
}

.TextContent {
  max-width: 30ch;
  height: 100%;
  background-color: rgba(132, 219, 175, 0.8);
  position: absolute;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-left: 0.5rem;
}
.TextContent > h2 {
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0.5rem;
}

.passage {
  margin-top: 1rem;
  line-height: 1.8;
  font-size: 0.75rem;
  padding: 0.5rem;
}

.ReadMore {
  border: none;
  background: none;
  transition: 0.5s linear;

  position: absolute;
  bottom: 4px;
  right: 1rem;
}
.ReadMore:hover {
  font-weight: bold;
}
