body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   
ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
