.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgCredit {
  font: italic;
  font-size: 0.7rem;
  text-align: right;
  padding-right: 1rem;
  margin-top: 0.5rem;
}
